@model IEnumerable<Entity.Entities.Categorias.Categoria>

@{
    ViewData["Title"] = "Index";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Categorias</h4>
                        @*<p class="card-category"> Aqui estão suas categorias</p>*@
                        <p class="card-category">
                            <i class="material-icons">class</i>
                            <a asp-action="Create">Criar uma nova Categoria</a>
                        </p>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-danger">
                                    <tr>
                                        <th>Ações</th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Nome)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.Id })
                                                @*|@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                                            </td>
                                            @*<td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nome)
                                            </td>


                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="~/js/categoria.js"></script>

@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SistemaFinanceiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SistemaFinanceiro.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
